body,html {
    height: 100%;
    margin: 0; 
    box-sizing: border-box;
}  

/* summerTrainingpage css */

.workshopPage { 
    display: flex;
    flex-flow: row; 
    position: relative; 
    height: 542px;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6)), 
    url('../Images/Master-of-Business-Global-Management-and-Marketing\ 1.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    
}    

.workshoptextimgview  { 
    margin-left: 150px; 
    color: #ffffff; 
    position: absolute; 
    bottom: -160px;   
    z-index: 1;

} 

.workshoptextview {
    width: 450px;  
    color: #111; 
    font-size: 15px;  
}  

.workshoptext {
    text-align: center;
}

.workshoptext img {
    height: 45px; 
    width: 45px;   
    margin-top: 40px;
}  

.workshoptext .modediv{
    padding-left: 620px;  
    position: absolute; 
    bottom: -40px;
}  

.ptext {
    font-size: 15px;
}

/* dashboard section css*/

.dashboardpage {  
    padding-top: 150px;
}  

.image {
    height: 100px;
    width: auto;
    background-color: aqua;
}  

.dashboard img {
    height: 400px;
    width: 900px;
}   

.dashboardtext {
    margin-top: 500px; 
    height: 70px;
    width: 400px; 
    margin-left: 650px; 
    margin-right: 0px;
    position: absolute; 
    bottom: 100px; 
    left: -80px; 
}  

.dashtext {
    margin-left: 55px; 
    margin-right: 0px; 
} 

.paratext {
    font-size: 15px;  
}

/* benifitPage css */
.benifitPage { 
    text-align: center;
    padding-top: 100px;
} 

.benifitPage img {
    height: 43px;
    width: 43px; 
} 
.underlineview {
    height: 2px; 
    width: 130px;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ff0066;
  }   

  .textcolor {
    color:  #ff0066;
  }

.topspacing {
        padding-top: 40px;
  } 

  /* courseavailabiliytpage css */ 

  .courseavailabiliytpage {
        padding-top: 100px; 
        text-align: center;
  }  

  .cunderlineview {
    height: 2px; 
    width: 260px;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ff0066;
  }  
  
.subdiv img {
    height: 53px;
    width: 53px; 
}

.subdiv  
{
    padding: 30px;
    background-color: #EEF4F6;
}  

.subdiv:hover {  
    background: transparent; 
    padding: 70px; 
    background-color: #ff0066; 
  }  

.knowmorediv {
  border-radius: 35px;
  background: black;
  width: 110px; 
  text-align:center;  
  display: none; 
  color: #f1f1f1;
  height: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;

} 

.subdiv:hover + .knowmorediv { 
  display: block; 
  bottom: 60px; 
} 
 
  .subdiv:hover > p {
    display: none;
  }  
  
  .subdiv:hover > img {
    display: none;
  } 

 .coursetopspacing {
     padding-top: 10px; 
     padding-bottom: 0px;
 }   

.coursetopbottomspacing { 
    padding-top: 5px;
    padding-bottom: 10px;
}


/* campuspage css */  

.campuspage { 
    padding-top: 80px;

} 

.campuspage img {
    height: 335px;
    width: 384px; 
    position: absolute;
    bottom: -30px;
}  

.textsection { 
    padding-top: 170px;
    padding-left: 0px;
    padding-bottom: 0px;
} 

.inputbtnview {   
    height: 200px; 
    background: #EEF4F6;
    padding-left: 30px; 
}  

.inputbtnview p {  
    padding-top: 35px; 
    padding-left: 90px;  
}

.btn {
    background-color: #ff0066;
    color: white;
    padding: 10px;
    font-size: 16.5px;
    border: none;  
    position: absolute;
    border-radius: 0px 50px 50px 0px;
  }
  
  input {   
  border: 1px solid #919191;
  border-radius: 50px 0px 0px 50px;
    width: 724px;
    color: white;
    padding: 10px;
    font-size: 15px; 
    margin-left: 90px; 
  } 



/* certificatepage css */  

.certificatepage {
    padding-top: 40px; 
    text-align: center;
}

.certificateunderlineview {
    height: 2px; 
    width: 270px;  
    margin-left: auto;
    margin-right: auto; 
    background-color: #ff0066;
} 

.certificatepage img {
    padding-top: 40px;
}  

/* For MobileView */ 
@media only screen and (max-width: 600px) {  

    .workshoptext .modediv{
        padding-left: 395px;  
    }  
    
    .ptext {
        font-size: 12px;
    } 
    
    .workshoptextimgview  { 
        margin-left: 10px; 
    
    } 
    
    .workshoptextview {
        width: 400px;  
    } 

    .campuspage img {
        height: 335px;
        width: 384px; 
        position: absolute;
        bottom: -60px;
    }  
    
    .textsection { 
        padding-top: 30px;
    }
}