body,html {
    height: 100%;
    margin: 0; 
    box-sizing: border-box;
}  

/* workshopPage css */

.workshopPage { 
    display: flex;
    flex-flow: row; 
    position: relative; 
    height: 542px;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6)), 
    url('../Images/Master-of-Business-Global-Management-and-Marketing\ 1.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    
}    

.workshoptextimgview  { 
    margin-left: 150px; 
    color: #ffffff; 
    position: absolute; 
    bottom: -160px;   
    z-index: 1;

} 

.workshoptextview {
    width: 450px;  
    color: #111; 
    font-size: 15px;  
}  

.workshoptext {
    text-align: center;
}

.workshoptext img {
    height: 45px; 
    width: 45px;   
    margin-top: 40px;
}  

.workshoptext .modediv{
    padding-left: 620px;  
    position: absolute; 
    bottom: -40px;
}  

.ptext {
    font-size: 15px;
}

/* upcomingWorkshopPage section css*/

 .upcomingWorkshopPage {  
    padding-top: 150px;
}  
/*
.image {
    height: 100px;
    width: auto;
    background-color: aqua;
}  

.dashboard img {
    height: 400px;
    width: 900px;
}   

.dashboardtext {
    margin-top: 500px; 
    height: 70px;
    width: 400px; 
    margin-left: 650px; 
    margin-right: 0px;
    position: absolute; 
    bottom: 100px; 
    left: -80px; 
}  

.dashtext {
    margin-left: 55px; 
    margin-right: 0px; 
} 

.paratext {
    font-size: 15px;  
} */

/* benifitPage css */
.benifitPage { 
    text-align: center;
    padding-top: 100px;
} 

.benifitPage img {
    height: 43px;
    width: 43px; 
} 
.underlineview {
    height: 2px; 
    width: 130px;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ff0066;
  }   

  .textcolor {
    color:  #ff0066;
  }

.topspacing {
        padding-top: 40px;
  } 


/* subjectPage css */ 

.subjectPage { 
    text-align: center;
    padding-top: 100px; 
  }  

.subunderlineview 
{
    height: 2px;
    width: 200px;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ff0066;
}  

.subjectunderline {
    height: 2px;
    width: 600px;  
    margin-top: 10px; 
    margin-left: 250px;
    background-color: #ff0066;
} 

.subjectleftspace{
    margin-left: 30px;
}   

.AvailableWorkshops {
    border-radius: 35px;
    background: black;
    width: 110px; 
    text-align:center;  
    display: none; 
    color: #f1f1f1;
    height: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  
  } 
  
  .AvailableWorkshops:hover { 
    /* display: block; 
    top: 10px;  */ 
    background-color: #ff0066;
  }


/* campuspage css */  

.campuspage { 
    padding-top: 80px;

} 

.campuspage img {
    height: 335px;
    width: 384px; 
    position: absolute;
    bottom: -30px;
}  

.textsection { 
    padding-top: 170px;
    padding-left: 0px;
    padding-bottom: 0px;
} 

.inputbtnview {   
    height: 200px; 
    background: #EEF4F6;
    padding-left: 30px; 
}  

.inputbtnview p {  
    padding-top: 35px; 
    padding-left: 90px;  
}

.btn {
    background-color: #ff0066;
    color: white;
    padding: 10px;
    font-size: 16.5px;
    border: none;  
    position: absolute;
    border-radius: 0px 50px 50px 0px;
  }
  
  input {   
  border: 1px solid #919191;
  border-radius: 50px 0px 0px 50px;
    width: 724px;
    color: white;
    padding: 10px;
    font-size: 15px; 
    margin-left: 90px; 
  } 



/* certificatepage css */  

.certificatepage {
    padding-top: 40px; 
    text-align: center;
}

.certificateunderlineview {
    height: 2px; 
    width: 270px;  
    margin-left: auto;
    margin-right: auto; 
    background-color: #ff0066;
} 

.certificatepage img {
    padding-top: 40px;
}  

/* For MobileView */ 
@media only screen and (max-width: 600px) {  

    .workshoptext .modediv{
        padding-left: 395px;  
    }  
    
    .ptext {
        font-size: 12px;
    } 
    
    .workshoptextimgview  { 
        margin-left: 10px; 
    
    } 
    
    .workshoptextview {
        width: 400px;  
    } 

    /* .campuspage img {
        height: 335px;
        width: 384px; 
        position: absolute;
        bottom: -60px;
    }  
    
    .textsection { 
        padding-top: 30px;
    } */
}